header{
  height: 80px;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

.custom_row{
  width: 100%;
  height: 80px;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
  background-color: #7FFED4;
}

.grid{
  width: 500px;
  height: 500px;
}
.cell{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
}

.cell.clickable{
  background-color: dodgerblue;
}
.cell.bomb{
  background-color: red;
}

.logo{
  height: 50px;
}
.logo img{
  height: 100%;
}

.custom_select{
  width: 150px;
}

.btn_custom{
  width: 100px;
  height: 25px;
}

footer{
  height: 50px;
}